﻿@model GRDC.PowerBIEmbedded.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    Select an entity to embed.<br/><br/>

    <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
    <br/>

  

    <div class="infoBox">
        <b>Nuget packages which used in this solution</b><br/>
        Microsoft.PowerBI.API Version 2.0.3<br />
        Microsoft.PowerBI.JavaScript Version 2.3.1<br />
    </div>
</div>