﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Power BI - Embed Sample</title>

    <script src="~/Scripts/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="></script>

    <link rel="stylesheet" type="text/css" href="~/Content/style/style.css">

</head>
<body>
    @RenderBody()
</body>
</html>
